.hero-video{
	background-image: url("images/Desert.jpg");
	background-position: center;
	background-size: cover;
	color: white;
	height: 400px;
}

.col-lg-12{
	text-align: center;
	margin-top: 160px;
	text-transform: uppercase;
}

.title{
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
}